*
{
    margin: 0 auto;
    padding: 0;
}

html
{
    background-color: #160A47;
}

div
{
    color:white;
}

#page_login *
{
    margin-top: 10px;
    padding: 7px;
    font-size: 17pt;

}

.page
{
    display:none;
}

#page_join
{
    width: 300px;
    height: 200px;
    position:absolute;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border:solid 1px white;
}

#page_login
{
    width:300px;
    height: 270px;
    position:absolute;
    top: calc(30% - 100px);
    left: calc(50% - 150px);
    border:solid 3px white;
    padding : 15px;
    background-color: #CCCCFF;





}