*
{
    margin: 0 auto;
    padding: 0;
}

html
{
    background-color: #160A47;
}

div
{
    color:white;
}

.page
{
    display:none;
}

#page_join
{
    width: 300px;
    height: 200px;
    position:absolute;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border:solid 1px white;
}

#page_login
{
    width:300px;
    height: 200px;
    position:absolute;
    left: calc(50% - 150px);
    border:solid 1px white;


}