<html>
    <head>
        <title>Drone Rent</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <script>
    </script>
    <body onload='loading()'>
        <div id="page_loading" class="page">
            <h2>loading</h2>
        </div>
        <div id="page_login" class="page">
            <h2>login</h2>
            ID:<input type="text" id="login_id"><br>
            PW:<input type="password" id="login_pw"><br>
            <input type="button" value="Login" onclick='login()'>
            <input type="button" value="Join" onclick='refresh("page_join")'>
        </div>
        <div id="page_join" class="page">
            <h2>join</h2>
            ID:<input type="text" id="join_id"><br>
            PW:<input type="password" id="join_pw"><br>
            email:<input type="email" id="join_email"><br>
            Phone:<input type="text" id="join_phone"><br>
            <input type="button" value="join" onclick='join()'><br>
            <input type="button" value="return to login" onclick='refresh("page_login")'>
            <div id="page_join_result">
            </div>
        </div>
        <div id="page_main" class="page">
            <h2>Main</h2>
            <input type="button" value="Rent"><br>
            <input type="button" value="My Information" onclick='myinfo()'><br>
            <input type="button" value="My Logs"><br>
            <input type="button" value="logout" onclick='logout()'>
        </div>
        <div id="page_information" class="page">
            <h2>Information</h2>
            <image src="">
            <ul>
                <li>ID
                <li>PW
                <li>E-mail
                <li>Phone
                <li>Logs
            </ul>
            <input type="button" value="back" onclick='tomain()'>
        </div>
        <div id="page_information_put" class="page">
            <h2>Information</h2>
            <image src="">
            <ul>
                <li>ID
                <li>PW
                <li>E-mail
                <li>Phone
            </ul>
        </div>
        <div id="page_rent" class="page">
            <h2>Rent</h2>
        </div>
        <div id="page_map" class="page" onload='map()'>
            <h2>Map</h2>
        </div>
        <div id="page_camera" class="page">
            <h2>Camera</h2>
        </div>
        <footer></footer>
        </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/view.js') }}"></script>
</html>